@using BusinessLogic.DTOs
@using DataAccess.Entities
@using Microsoft.AspNetCore.Identity

@model ProductDTO
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
	var user = UserManager.GetUserAsync(User).Result;
}

<div class="row">
	<div class="col-6 d-flex justify-content-center">
		<img style="max-width:400px; min-width:400px; max-height: 500px;" src="@Model.ImagePath" />
	</div>
	<div class="col-6 d-flex justify-content-center flex-column">
		<div class="d-flex justify-content-center flex-column">
			<h1>@Model.Name</h1>
			<h2 class="text-success">@Model.Price ₴</h2>
			<h5>@Model.Description</h5>
			<form asp-action="AddInBasket" asp-controller="Shop" method="post">
				<div class="d-flex justify-content-center">
					<input hidden class="d-none" value="@Model.Id" name="ProductId" />
					<input hidden class="d-none" value="@user.UserName" name="UserName" />
					@if(SignInManager.IsSignedIn(User)){
						<button id="SaveInCart" type="submit" class=" btn w-50 btn-success">In card</button>
					}else{
						<button type="submit" class=" btn w-50 btn-success disabled">In card</button>
					}

				</div>
			</form>
		</div>

	</div>
</div>
